<h1>Por País</h1>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar( $event )"
                        (onDebounce)="sugerencias( $event )"
                        placeholder="buscar por pais..."
                        ></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError"
     class="alert alert-danger">
    No se encontro nada con el termino <b>{{termino}}</b>
</div>

<div *ngIf="paises.length > 0" >
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
        
    </div>
</div>
